.container {
    background-image: linear-gradient(45deg, green, yellow);
    color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
    padding: 1em;
}

.btn--ok {
    background-image: linear-gradient(45deg, rgb(8, 0, 255), rgb(0, 255, 166));
    color: white;
    border-radius: 50%;
}

.btn--reset {
    background-image: linear-gradient(45deg, red, rgb(255, 153, 0));
    color: white;
    border-radius: 50%;
}